!urxvt
URxvt.urgentOnBell:    true
URxvt.perl-lib:        /home/pazz/.urxvt/
URxvt.perl-ext-common: default,url-select,keyboard-select
URxvt.urlLauncher:     firefox
URxvt.underlineURLs:   false
URxvt.keysym.M-u:      perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.background:      black
URxvt.foreground:      white
URxvt.scrollBar:       false
URxvt*font: xft:Bitstream Vera Sans Mono:size=10
Urxvt*boldFont: xft:Bitstream Vera Sans Mono:size=10:style=Bold
URxvt.letterSpace: -1
URxvt.cursorColor:  #89B83F
URxvt.pointerColor: #FFFFFF

!xdvi
xdvi.editor:        vim --servername tex --remote +%l %f
xdvi.highlight:     orange
xdvi.Hush:          true
xdvi.hushStdout:    true
xdvi.LinkStyle:     2
xdvi.noInitFile:    true
xdvi.expertMode:    0
xdvi.shrinkFactor:  5
xdvi.sideMargin:    2.5cm
xdvi.topMargin:     3cm
