!urxvt
URxvt.urgentOnBell:    true
URxvt.perl-lib:        /home/pazz/.urxvt/
URxvt.perl-ext-common: default,url-select,keyboard-select
URxvt.urlLauncher:     firefox
URxvt.underlineURLs:   false
URxvt.keysym.M-u:      perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate

!appereance
URxvt.background:      black
URxvt.foreground:      white
URxvt.scrollBar:       false
URxvt*font: xft:Bitstream Vera Sans Mono:size=10
Urxvt*boldFont: xft:Bitstream Vera Sans Mono:size=10:style=Bold
URxvt.letterSpace: -1
URxvt.cursorColor:  #89B83F
URxvt.pointerColor: #FFFFFF


!xdvi reverse search
xdvi.editor :       vim --servername tex --remote +%l %f
